// Buttons
//
// Button styles can be applied to anything with the `.btn` class applied.
// However, typically you'll want to apply these to only `<a>` and `<button>` elements for the best rendering.
//
// Styleguide 1


// Basic Button Styles
//
// :hover       - Hover state.
// :active      - Active state.
// .disabled    - Disabled button. If you use `<button>` element, that is acceptable to add `disabled` attribute instead.
//
// Markup:
// <button type="submit" class="button {{modifier_class}}">Button</button>
// <button type="submit" class="button {{modifier_class}}">Button</button>
//
// Styleguide 1.1

.button {
  padding: 1rem 2rem;
  margin: .5rem;
  display: inline-block;
  border-radius: 2px;
  font-size: 1rem;
  font-family: $default-font-family-semibold, sans-serif;
  border: none;
  color: $white;
  transition: .2s color, .2s background-color, .2s border-color;
  background-color: $brand-default-blue;
  &:hover {
    background-color: $brand-dk-blue;
  }
  &:active {
    background-color: $brand-dk-blue;
  }
  &.disabled {
    background-color: #898989;
  }
  &.secondary {
    
  }
}

button {
  
}

.button { 
  background-color: $brand-default-blue;
}
.button:hover {
  
}
.button:disabled {
  
}
.button.primary {
  
}




    

button:hover {
  color: #fff;
  background-color: #89CE8C;
}

button:active {
  color: purple;
  background-color: #89CE8C;
}

button:focus {
  color: $green;
  border-color: currentColor;
}

.button--small {
  font-size: .5em;
}

.button--large {
  font-size: 1.5em;
}

.btn.btn-bold {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}