// Base Colors
//
// Colors are listed with variable name and HEX value.
//
// Styleguide 1

// Color Palette
//
// $brand-default-blue - #0072C6, surveyor blue
// $brand-dk-blue - #00599a, darker surveyor blue variation
// $text - #2D394A, body text default
// $nav-gray - #808B9B, navigation gray
// $secondary-text - #9F9F9F, secondary heading gray
// $light-hover-gray - #EDEDED, default hover
// $body-background - #F8F8F8, body gray background
// $critical - #E8001C, critical red
// $caution - #FFC200, caution yellow
// $okay - #8DC63F, okay status 
// $white - #FFFFFF, white
//
// Styleguide 1.1


$brand-default-blue: #0072C6;
$brand-dk-blue: #00599a;
$text: #2D394A;
$light-hover-gray: #EDEDED;
$body-background: #F8F8F8;
$nav-gray: #808B9B;
$critical: #E8001C;
$caution: #FFC200;
$okay: #8DC63F;
$white: #FFFFFF;

$bright-pink: #ff00fc;

/*$white:       #FFFFFF;
$mid-gray:    #CCCCCC;
$light-gray:  #ECECEC;
$medium-gray: #7C7C7C;
$medium-dark-gray: #555555;
$background-gray: #555555;
$dark-gray:   #898989;
$ss-lt-gray: #F9F9F9;
$ss-lt-gray-02: #E8E8E8;
$ss-dark-bl:  #0D76BD;
$ss-darkest-bl:#23527C;
$ss-md-blue:  #2C97D4;
$ss-lt-blue:  #C4DEEF;
$ss-header-blue: #86BBDE;*/

$gray: #777B7B;
$gray-text: #2D394A;
$gray-light: #D5D7DA;
$gray-lighter: #FAFBFC;
$gray-blue-light: #F8F8F8;
$green: #89CE8C;
$red: #DD7683;
$color-link: #0072C6;
$background-gray: #FCFCFC;
$border-gray: #CECECE;
$lt-heading-gray: #9F9F9F;
$placeholder-gray: #BCBCBC;
$high-risk-text: #EB1B00;
$med-risk: #F2F20E;
$icon-color: #95989A;

// make sure these mixins are used

$default-font-size: 1rem;
$default-font-color:  #3B3B3B;
$default-font-family: 'Nunito', Arial, sans-serif;
$default-font-family-semibold: 'Open Sans Semibold', Arial, sans-serif;
$default-font-family-bold: 'Open Sans Bold', Arial, sans-serif;
$default-font-family-light: 'Open Sans Light', Arial, sans-serif;
$secondary-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$default-body-background: #EEEEEE;


// may use these

// Use of the calc property
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin icon($icon) {
  @include icon-FontAwesome();
  content: $icon;
}

@mixin icon-FontAwesome() {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin center($w, $h, $mw: $w, $mh: $h) {
  position: absolute;
  display: block;
  width: $w;
  height: $h;
  max-width: $mw;
  max-height: $mh;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: auto;
}

@mixin hs-clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin wrap-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
