* {
  box-sizing: border-box; }

html {
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif; }

body {
  background-color: #FCFCFC;
  margin: 0;
  color: #2D394A;
  font-weight: 400; }

h1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .75rem; }

h2 {
  font-size: .85rem;
  color: #9F9F9F;
  font-weight: 400; }

.search-bar {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  background-color: #FFFFFF; }
  .search-bar input {
    font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777B7B;
    padding: 8px 2px 8px 14px;
    border: 1px solid #CECECE;
    margin: 0;
    width: 300px;
    outline: none; }
    .search-bar input::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #BCBCBC;
      font-size: .75rem; }
    .search-bar input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #BCBCBC;
      font-size: .75rem; }
    .search-bar input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #BCBCBC;
      font-size: .75rem; }
    .search-bar input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #BCBCBC;
      font-size: .75rem; }
    .search-bar input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #BCBCBC;
      font-size: .75rem; }
  .search-bar button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #F8F8F8;
    height: 28px;
    width: 28px;
    border: none;
    padding: 0; }
    .search-bar button .search-icon {
      padding: 7px;
      color: #95989A;
      height: 30px; }
  .search-bar a {
    border: 1px solid #F8F8F8;
    background: #FAFBFC;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0;
    position: absolute;
    color: rgba(109, 112, 113, 0.5);
    margin-left: -1px;
    padding: 8px 15px 2px 15px;
    transition: all 0.2s ease; }
    .search-bar a:hover {
      background-color: #f0f3f6; }
    .search-bar a:active {
      background-color: #dae2e9; }

.select-wrap {
  display: inline-block;
  float: right; }

select {
  color: #2D394A;
  text-decoration: none;
  font-weight: 600;
  font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.5px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #CECECE;
  padding: 8px 14px;
  margin: 1rem 0;
  transition: all 0.2s ease; }
  select:hover {
    background: #f7f7f7; }
  select:active {
    background: #f2f2f2; }
  select i {
    position: relative;
    top: 4px; }

.item-number {
  font-size: .85rem;
  margin-right: 1rem;
  font-weight: 700; }

.container {
  padding: 20px; }

table {
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  border: 0;
  font-size: .85rem; }
  table tbody tr:first-child {
    border: none; }
  table .clicked {
    background-color: #0072C6;
    color: #FFFFFF; }
    table .clicked a, table .clicked .high-risk {
      color: #FFFFFF; }
  table tr {
    border-bottom: 2px solid #F8F8F8;
    background: #fff; }
    table tr:last-child {
      border: none; }
    table tr th {
      font-size: .85rem;
      font-weight: 700;
      background: #FCFCFC; }
      table tr th input[type="checkbox"] + label {
        top: 13px; }
      table tr th input[type="checkbox"]:checked + label:before {
        top: 0;
        left: 0px; }
      table tr th.system {
        width: 35%; }
      table tr th.days {
        width: 15%; }
      table tr th.risk {
        width: 20%; }
      table tr th.date {
        width: 15%;
        padding-right: 20px; }
    table tr th {
      padding: 13px; }
      table tr th i {
        border-color: #2D394A;
        border-style: solid;
        border-width: 0 1px 1px 0;
        display: inline-block;
        margin: 3px;
        padding: 3px; }
      table tr th .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
      table tr th .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg); }
      table tr th .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg); }
      table tr th .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
    table tr td {
      padding: 13px;
      position: relative; }
    table tr td {
      /* input[type="checkbox"] + label {
        top: 20px;
      }*/ }
      table tr td a {
        color: #0072C6;
        text-decoration: none; }

.risk-icon {
  height: 18px;
  width: 18px;
  padding: 3px;
  vertical-align: middle; }

.high-icon, .med-icon {
  background-color: #EB1B00;
  display: inline-block;
  margin-right: 5px; }
  .high-icon img, .med-icon img {
    /*		height: 16px;*/ }

.med-icon {
  background-color: #F2F20E; }

.high-risk {
  color: #EB1B00; }

.post-title {
  font-size: 3em;
  text-align: center;
  font-family: fantasy; }

.btn.btn-bold {
  position: relative;
  font-weight: bold;
  text-transform: uppercase; }

.button {
  padding: 1em 2em;
  margin: .5em;
  display: inline-block;
  font-size: .9em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #f56476;
  background-color: #fff;
  border: 2px solid #f56476;
  transition: .2s color, .2s background-color, .2s border-color; }

.button:hover {
  color: #fff;
  background-color: #f56476; }

.button:focus {
  color: #3ddc97;
  border-color: currentColor; }

.button--small {
  font-size: .5em; }

.button--large {
  font-size: 1.5em; }
